.profile-card{
	background-color: #fff;
	border: none; 
	box-shadow: 0 3px 15px 0 rgba(0,0,0,.16);
}
.profile-card .user-info {
	padding: 0.5em 1.5em;
}
.profile-card p {
	font-size: 16px;
	color: silver;
	margin: 0 0 6px;
}

.update-info {
	border-bottom: 1px solid #d8dade;
	width: 100%;
	font-size: 16px;
	height: 20px;
}

input: placeholder-shown {
	color: black;
}

.user-headline {
	margin-top: -10%;
}

.user-avatar {
	height: 300px;
	overflow: hidden;
}

.user-avatar img {
	width:100%;
}

.update-container {
	background-color: #f5f5f5;
	display: inline-block;
	width: 100%;
	height: 30px;
}
.update-button {
	position: absolute;
	margin-top: 3px;
    right: 20px;
    border: 0;
    background-color: #f5f5f5;
}
.user-profile {
	display:block;
}
.upload-inline {
	position: relative;
    display: inline-block;
    border-collapse: separate;
    float:left;
}
